@import "utils";
@import "fonts";
@import "typography";

@font-face {
  font-family: Avenir; /* Имя шрифта */
  src: url(../fonts/Avenir/Avenir-Book.ttf); /* Путь к файлу со шрифтом */
}

$small_img_size: 30px;
@mixin small_img_block($small_img_size) {
  width: $small_img_size;
  height: $small_img_size;
}

@mixin flex_row_between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@mixin align_items_center {
  justify-items: center;
  align-items: center;
}

$grey-title: #3d4e61;
$light-grey-title: #687c94;
$light-green-title: #118488;
$light-grey-border: #e1e7ed;
$red-book-btn: #fd5c63;

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Avenir, sans-serif;
  color: $grey-title;
}

.header-container {
  height: 60px;
  background: white;
  @include flex_row_between;
  @include align_items_center;

  .header-left {
    padding-left: 26px;

    .header-small-logo-img {
      @include small_img_block($small_img_size);
    }
  }

  .header-right {
    margin-right: 19px;
    @include flex_row_between;

    .header-nav-wrapper {
      @include flex_row_between;
      @include align_items_center;

      .nav-wrap {
        .nav-item {
          list-style: none;
          text-decoration: none;
          display: inline;

          a {
            font-size: 16px;
            line-height: 22px;
            color: $grey-title;
            text-decoration: none;
            margin-right: 30px;
          }
        }
      }
    }

    .header-profile-wrapper {
      display: flex;
      justify-content: center;
      align-content: center;

      .header-logo {
        @include small_img_block($small_img_size);
        border-radius: 50%;
      }
    }
  }
}

%main_fontsize_medium {
  font-size: 16px;
  line-height: 19px;
}

%main_fontsize_small {
  font-size: 14px;
  line-height: 16px;
}

%main_fontsize_large {
  font-size: 20px;
  line-height: 23px;
}

%main_fontsize_xl {
  font-size: 28px;
  line-height: 33px;
}

main {

  a {
    img.Home-foto {
      width: 100%;
    }
  }

  div.main-container {
    display: flex;

    div.main-info-block {
      position: relative;
      width: 901px;
      height: 1266px;
      margin: 39px auto 75px;

      div.apartment-info {
        h1 {
          font-size: 36px;
          line-height: 42px;
          color: $grey-title;
          margin-top: 0;
        }

        p {
          font-size: 16px;
          line-height: 19px;
          color: $light-grey-title;
        }

        div.apartment-info-parametres {
          margin-top: 15px;

          p {
            @extend %main_fontsize_medium;
            display: inline;
            margin-right: 25px;
            color: $grey-title;
          }
        }

        div.location {
          p.location-text {
            width: 492px;
            height: 120px;
            font-size: 16px;
            line-height: 24px;
            color: $grey-title;
          }
        }

        div.contact-host {
          margin-top: 5px;
          margin-bottom: 30px;
          a {
            text-decoration: none;
            @extend %main_fontsize_medium;
            font-weight: bold;
            color: $grey-title;

          }
        }

        div.apartment-amenities {
          h2 {
            @extend %main_fontsize_large;
            color: $grey-title;
          }

          div.amenities-list-container {
            display: grid;
            width: 354px;
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 20px;

            div.amenities-list-container-col1,
            div.amenities-list-container-col2 {
              p {
                @extend %main_fontsize_medium;
                color: $grey-title;
                margin-bottom: 13px;
              }
            }
          }

          div.show-all {
            margin-bottom: 66px;
            a {
              @extend %main_fontsize_medium;
              font-weight: bold;
              color: $grey-title;
              text-decoration: none;

            }
          }
        }
      }

      div.booking-info {
        position: absolute;
        right: 0;
        top: 0;
        width: 330px;
        height: 319px;
        background: white;
        border: 1px solid $light-grey-border;
        box-sizing: border-box;
        border-radius: 3px;

        p {
          @extend %main_fontsize_medium;
          width: 112px;
          height: 22px;
          color: $grey-title;
          position: absolute;
          left: 30px;
          top: 30px;
          margin: 0;
        }

        div.date {
          position: absolute;
          left: 30px;
          top: 91px;

          input {
            width: 270px;
            height: 50px;
            background: white;
            border: 1px solid $light-grey-border;
            box-sizing: border-box;
            border-radius: 3px;
            @extend %main_fontsize_medium;
            padding-left: 17px;
          }
        }

        div.guests {
          position: absolute;
          left: 30px;
          top: 157px;

          input {
            width: 270px;
            height: 50px;
            background: white;
            border: 1px solid $light-grey-border;
            box-sizing: border-box;
            border-radius: 3px;
            @extend %main_fontsize_medium;
            color: $grey-title;
            padding-left: 17px;

          }
        }

        button.book {
          background: $red-book-btn;
          border-radius: 4px;
          width: 270px;
          height: 50px;
          position: absolute;
          left: 30px;
          bottom: 38px;
          @extend %main_fontsize_medium;
          text-align: center;
          color: white;
        }
      }

      .review-info {
        h2 {
          @extend %main_fontsize_xl;
          color: $grey-title;
        }

        .review-block1 {
          a {
            img {
              float: left;
              margin-right: 21px;
              margin-bottom: 23px;
            }
          }

          p.review-name {
            @extend %main_fontsize_small;

          }

          p.review-date {
            @extend %main_fontsize_large;
          }

          p.review-post {
            @extend %main_fontsize_medium;
            width: 491px;
            height: 120px;
            margin: 0;
          }
        }

        .review-block2 {
          a {
            img {
              float: left;
              margin-right: 21px;
              margin-bottom: 23px;
            }
          }

          p.review-name {
            @extend %main_fontsize_small;
          }

          p.review-date {
            @extend %main_fontsize_large;
          }

          p.review-post {
            @extend %main_fontsize_medium;
            width: 491px;
            height: 120px;
            margin: 0;
          }
        }
      }

      .hosted-info {
        h2 {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: bold;
          @extend %main_fontsize_xl;
          color: $grey-title;
        }

        p.host-location {
          @extend %main_fontsize_small;
          color: $grey-title;
        }

        p.host-description {
          @extend %main_fontsize_medium;
          color: $grey-title;
          width: 491px;
          height: 100px;
          margin: 0;
        }

        button.contact-host {
          border: 1px solid $light-green-title;
          box-sizing: border-box;
          border-radius: 4px;
          width: 150px;
          height: 50px;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: $light-green-title;
          margin-bottom: 75px;
        }
      }
    }
  }
}

%footer_column_link {
  text-decoration: none;
  color: $grey-title;
}

.footer-column-item-title {
  @extend %footer_column_link;
}

.footer-column-title {
  @extend %footer_column_link;
  font-weight: bold;
}

.footer-item {
  margin-top: 10px;
}

footer {
  background: white;
  box-shadow: 0 -1px 0 $light-grey-border;
  display: flex;

  .footer-container {
    margin: 44px auto;
    display: grid;
    width: 901px;
    grid-template-columns: repeat(3, auto);
    font-size: 16px;
    line-height: 19px;
    color: $grey-title;
    /*
    .Airbnb-column {
      .Airbnb {
        margin-bottom: 20px;
      }

    }

    .Discover-column {
      .Discover {
        margin-bottom: 20px;
      }

    }

    .Hosting-column {
      .Hosting {
        margin-bottom: 20px;
      }

    }*/
  }
}
