@import "utils";
@import "fonts";
@import "typography";

@font-face {
  font-family: Avenir; /* Имя шрифта */
  src: url(../fonts/Avenir/Avenir-Black.ttf); /* Путь к файлу со шрифтом */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Avenir, sans-serif;
}

.header_big_logo_container {
  position: relative;
}

.header_logo_img {
  //position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.header_menu_container {
  height: 60px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.header_right_menu_container {
  margin-right: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header_small_logo_img {
  width: 30px;
  height: 30px;
  margin-left: 26px;
}

.header_user_logo_container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header_user_logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header_menu {
  display: flex;
  align-items: center;
}

.header_menu > span {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #3d4e61;
}

article {
  display: flex;
  flex-direction: column;
}
