@import "utils";
@import "fonts";
@import "typography";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Avenir, sans-serif;
  color: $grey-title;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: $grey-title;
  margin-top: 0;
}

h2 {
  @extend %main_fontsize_large;
  color: $grey-title;
}

a {
  text-decoration: none;
  color: $grey-title;
}

.is-bold {
  font-weight: bold;
}

.review {
  display: flex;
  width: 491px;
  flex-direction: row;
  flex-wrap: wrap;
}

.review_details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.review_details_photo_wrapper {
  display: flex;
  margin-right: 21px;
}

.review_photo {
  width: $main_review_photo_size;
  height: $main_review_photo_size;
}

.details_name_date {
  width: 173px;
  height: 28px;
  margin: 2px;
}

.details_name {
  @extend %main_fontsize_medium;
  font-weight: bolder;
}

.details_date {
  @extend %main_fontsize_large;
  font-weight: 500;
}

.descriptive_text {
  @extend %main_fontsize_medium;
  width: 491px;
  height: 120px;
  color: $grey-title;
}

.header-container {
  height: 60px;
  background: white;
  @include flex_row_between;
  @include align_items_center;

  .header-left {
    padding-left: 26px;

    .header-small-logo-img {
      @include small_img_block($header_small_img_size);
    }
  }

  .header-right {
    margin-right: 19px;
    @include flex_row_between;

    .header-nav-wrapper {
      @include flex_row_between;
      @include align_items_center;

      .nav-wrap {
        .nav-item {
          list-style: none;
          text-decoration: none;
          display: inline;

          a {
            font-size: 16px;
            line-height: 22px;
            color: $grey-title;
            text-decoration: none;
            margin-right: 30px;
          }
        }
      }
    }

    .header-profile-wrapper {
      display: flex;
      justify-content: center;
      align-content: center;

      .header-logo {
        @include small_img_block($header_small_img_size);
        border-radius: 50%;
      }
    }
  }
}

.main_photo {
  width: 100%;
  height: 464px;
  object-fit: cover;
}

button.contact-host {
  border: 1px solid $light-green-title;
  box-sizing: border-box;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $light-green-title;
  margin-bottom: 75px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact-host {
  margin-top: 5px;
  margin-bottom: 30px;
  @extend %main_fontsize_medium;
}

.amenities_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 352px;
}

.amenities_item {
  width: 50%;
  height: 29px;
  @extend %main_fontsize_medium;
  color: $grey-title;
}

.booking-info-block {
  position: absolute;
  right: 0;
  top: 0;
  @extend %flex_column;
  width: $booking_inner_padding * 2 + $booking_block_btn_width;
  height: 320px;
  background: white;
  border: 1px solid $light-grey-border;
  box-sizing: border-box;
  border-radius: 3px;
}

.booking_input_wrapper {
  margin: 15px auto;
}

.booking_input {
  box-sizing: border-box;
  @extend %booking_block;
  border: 1px solid $light-grey-border;
  padding-left: 17px;
}

.booking_button {
  @extend %booking_block;
  text-align: center;
  background: $red-book-btn;
  color: white;
}

.booking_price {
  @extend %main_fontsize_medium;
  margin-left: 30px;
  margin-bottom: 24px;
  width: 112px;
  height: 22px;
}
/*
.apartment-info {
  p {
    @extend %main_fontsize_medium;
    color: $light-grey-title;
  }
}*/

.apartment_type {
  @extend %main_fontsize_medium;
  display: inline;
  margin-right: 25px;
  color: $grey-title;
}

.review_hosted_font {
  font-family: "Roboto", sans-serif;
  @extend %main_fontsize_xl;

}

.host-location {
  @extend %main_fontsize_small;
  color: $grey-title;
}

.host-description {
  @extend %main_fontsize_medium;
  color: $grey-title;
  width: 491px;
  height: 100px;
  margin: 0;
}

.main-container {
  @extend %flex_column;
}

.main-info-block {
  position: relative;
  width: 900px;
  height: 1265px;
  margin: 40px auto 75px;
}

.footer-column-item-title {
  @extend %footer_column_link;
}

.footer-column-title {
  @extend %footer_column_link;
  font-weight: bold;
}

.footer-item {
  margin-top: 10px;
}

footer {
  background: white;
  box-shadow: 0 -1px 0 $light-grey-border;
  display: flex;

  .footer-container {
    margin: 44px auto;
    display: grid;
    width: 901px;
    grid-template-columns: repeat(3, auto);
    font-size: 16px;
    line-height: 19px;
    color: $grey-title;
  }
}
