%main_fontsize_small {
  font-size: 14px;
  line-height: 16px;
}

%main_fontsize_medium {
  font-size: 16px;
  line-height: 19px;
}

%main_fontsize_large {
  font-size: 20px;
  line-height: 23px;
}

%main_fontsize_xl {
  font-size: 28px;
  line-height: 33px;
}

%booking_block {
  width: 270px;
  height: 50px;
  background: white;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
}

%footer_column_link {
  text-decoration: none;
  color: $grey-title;
}

%flex_column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
