$header_small_img_size: 30px;
$main_review_photo_size: 50px;
$booking_block_btn_width: 270px;
$booking_inner_padding: 30px;

$grey-title: #3d4e61;
$light-grey-title: #687c94;
$light-green-title: #118488;
$light-grey-border: #e1e7ed;
$red-book-btn: #fd5c63;
